<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>contractSymbol</th>
      <th>lastTradeDate</th>
      <th>strike</th>
      <th>lastPrice</th>
      <th>bid</th>
      <th>ask</th>
      <th>change</th>
      <th>percentChange</th>
      <th>volume</th>
      <th>openInterest</th>
      <th>impliedVolatility</th>
      <th>inTheMoney</th>
      <th>contractSize</th>
      <th>currency</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>AAPL240503C00100000</td>
      <td>2024-04-26 19:36:24+00:00</td>
      <td>100.0</td>
      <td>70.13</td>
      <td>73.20</td>
      <td>74.00</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>7.0</td>
      <td>17</td>
      <td>2.250004</td>
      <td>True</td>
      <td>REGULAR</td>
      <td>USD</td>
    </tr>
    <tr>
      <th>1</th>
      <td>AAPL240503C00105000</td>
      <td>2024-04-16 14:47:56+00:00</td>
      <td>105.0</td>
      <td>65.25</td>
      <td>68.20</td>
      <td>69.00</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>NaN</td>
      <td>5</td>
      <td>2.066411</td>
      <td>True</td>
      <td>REGULAR</td>
      <td>USD</td>
    </tr>
    <tr>
      <th>2</th>
      <td>AAPL240503C00110000</td>
      <td>2024-04-25 18:03:11+00:00</td>
      <td>110.0</td>
      <td>59.50</td>
      <td>63.20</td>
      <td>64.00</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>1.0</td>
      <td>5</td>
      <td>1.890626</td>
      <td>True</td>
      <td>REGULAR</td>
      <td>USD</td>
    </tr>
    <tr>
      <th>3</th>
      <td>AAPL240503C00125000</td>
      <td>2024-04-25 19:35:58+00:00</td>
      <td>125.0</td>
      <td>44.99</td>
      <td>48.20</td>
      <td>49.00</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>NaN</td>
      <td>2</td>
      <td>1.410159</td>
      <td>True</td>
      <td>REGULAR</td>
      <td>USD</td>
    </tr>
    <tr>
      <th>4</th>
      <td>AAPL240503C00130000</td>
      <td>2024-04-29 14:24:52+00:00</td>
      <td>130.0</td>
      <td>44.76</td>
      <td>43.25</td>
      <td>44.05</td>
      <td>4.619999</td>
      <td>11.509713</td>
      <td>3.0</td>
      <td>5</td>
      <td>1.335941</td>
      <td>True</td>
      <td>REGULAR</td>
      <td>USD</td>
    </tr>
  </tbody>
</table>