<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>2023-12-31 00:00:00</th>
      <th>2023-09-30 00:00:00</th>
      <th>2023-06-30 00:00:00</th>
      <th>2023-03-31 00:00:00</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Tax Effect Of Unusual Items</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>Tax Rate For Calcs</th>
      <td>0.159</td>
      <td>0.149715</td>
      <td>0.125</td>
      <td>0.149</td>
    </tr>
    <tr>
      <th>Normalized EBITDA</th>
      <td>43221000000.0</td>
      <td>30653000000.0</td>
      <td>26783000000.0</td>
      <td>32210000000.0</td>
    </tr>
    <tr>
      <th>Net Income From Continuing Operation Net Minority Interest</th>
      <td>33916000000.0</td>
      <td>22956000000.0</td>
      <td>19881000000.0</td>
      <td>24160000000.0</td>
    </tr>
    <tr>
      <th>Reconciled Depreciation</th>
      <td>2848000000.0</td>
      <td>2653000000.0</td>
      <td>3052000000.0</td>
      <td>2898000000.0</td>
    </tr>
    <tr>
      <th>Reconciled Cost Of Revenue</th>
      <td>64720000000.0</td>
      <td>49071000000.0</td>
      <td>45384000000.0</td>
      <td>52860000000.0</td>
    </tr>
    <tr>
      <th>EBITDA</th>
      <td>43221000000.0</td>
      <td>30653000000.0</td>
      <td>26783000000.0</td>
      <td>32210000000.0</td>
    </tr>
    <tr>
      <th>EBIT</th>
      <td>40373000000.0</td>
      <td>28000000000.0</td>
      <td>23731000000.0</td>
      <td>29312000000.0</td>
    </tr>
    <tr>
      <th>Net Interest Income</th>
      <td>NaN</td>
      <td>-18000000.0</td>
      <td>-18000000.0</td>
      <td>-12000000.0</td>
    </tr>
    <tr>
      <th>Interest Expense</th>
      <td>NaN</td>
      <td>1002000000.0</td>
      <td>998000000.0</td>
      <td>930000000.0</td>
    </tr>
    <tr>
      <th>Interest Income</th>
      <td>NaN</td>
      <td>984000000.0</td>
      <td>980000000.0</td>
      <td>918000000.0</td>
    </tr>
    <tr>
      <th>Normalized Income</th>
      <td>33916000000.0</td>
      <td>22956000000.0</td>
      <td>19881000000.0</td>
      <td>24160000000.0</td>
    </tr>
    <tr>
      <th>Net Income From Continuing And Discontinued Operation</th>
      <td>33916000000.0</td>
      <td>22956000000.0</td>
      <td>19881000000.0</td>
      <td>24160000000.0</td>
    </tr>
    <tr>
      <th>Total Expenses</th>
      <td>79202000000.0</td>
      <td>62529000000.0</td>
      <td>58799000000.0</td>
      <td>66518000000.0</td>
    </tr>
    <tr>
      <th>Total Operating Income As Reported</th>
      <td>40373000000.0</td>
      <td>26969000000.0</td>
      <td>22998000000.0</td>
      <td>28318000000.0</td>
    </tr>
    <tr>
      <th>Diluted Average Shares</th>
      <td>15576641000.0</td>
      <td>15672400000.0</td>
      <td>15775021000.0</td>
      <td>15847050000.0</td>
    </tr>
    <tr>
      <th>Basic Average Shares</th>
      <td>15509763000.0</td>
      <td>15599434000.0</td>
      <td>15697614000.0</td>
      <td>15787154000.0</td>
    </tr>
    <tr>
      <th>Diluted EPS</th>
      <td>2.18</td>
      <td>1.46</td>
      <td>1.26</td>
      <td>1.52</td>
    </tr>
    <tr>
      <th>Basic EPS</th>
      <td>2.19</td>
      <td>1.47</td>
      <td>1.27</td>
      <td>1.53</td>
    </tr>
    <tr>
      <th>Diluted NI Availto Com Stockholders</th>
      <td>33916000000.0</td>
      <td>22956000000.0</td>
      <td>19881000000.0</td>
      <td>24160000000.0</td>
    </tr>
    <tr>
      <th>Net Income Common Stockholders</th>
      <td>33916000000.0</td>
      <td>22956000000.0</td>
      <td>19881000000.0</td>
      <td>24160000000.0</td>
    </tr>
    <tr>
      <th>Net Income</th>
      <td>33916000000.0</td>
      <td>22956000000.0</td>
      <td>19881000000.0</td>
      <td>24160000000.0</td>
    </tr>
    <tr>
      <th>Net Income Including Noncontrolling Interests</th>
      <td>33916000000.0</td>
      <td>22956000000.0</td>
      <td>19881000000.0</td>
      <td>24160000000.0</td>
    </tr>
    <tr>
      <th>Net Income Continuous Operations</th>
      <td>33916000000.0</td>
      <td>22956000000.0</td>
      <td>19881000000.0</td>
      <td>24160000000.0</td>
    </tr>
    <tr>
      <th>Tax Provision</th>
      <td>6407000000.0</td>
      <td>4042000000.0</td>
      <td>2852000000.0</td>
      <td>4222000000.0</td>
    </tr>
    <tr>
      <th>Pretax Income</th>
      <td>40323000000.0</td>
      <td>26998000000.0</td>
      <td>22733000000.0</td>
      <td>28382000000.0</td>
    </tr>
    <tr>
      <th>Other Income Expense</th>
      <td>-50000000.0</td>
      <td>47000000.0</td>
      <td>-247000000.0</td>
      <td>76000000.0</td>
    </tr>
    <tr>
      <th>Other Non Operating Income Expenses</th>
      <td>-50000000.0</td>
      <td>47000000.0</td>
      <td>-247000000.0</td>
      <td>76000000.0</td>
    </tr>
    <tr>
      <th>Net Non Operating Interest Income Expense</th>
      <td>NaN</td>
      <td>-18000000.0</td>
      <td>-18000000.0</td>
      <td>-12000000.0</td>
    </tr>
    <tr>
      <th>Interest Expense Non Operating</th>
      <td>NaN</td>
      <td>1002000000.0</td>
      <td>998000000.0</td>
      <td>930000000.0</td>
    </tr>
    <tr>
      <th>Interest Income Non Operating</th>
      <td>NaN</td>
      <td>984000000.0</td>
      <td>980000000.0</td>
      <td>918000000.0</td>
    </tr>
    <tr>
      <th>Operating Income</th>
      <td>40373000000.0</td>
      <td>26969000000.0</td>
      <td>22998000000.0</td>
      <td>28318000000.0</td>
    </tr>
    <tr>
      <th>Operating Expense</th>
      <td>14482000000.0</td>
      <td>13458000000.0</td>
      <td>13415000000.0</td>
      <td>13658000000.0</td>
    </tr>
    <tr>
      <th>Research And Development</th>
      <td>7696000000.0</td>
      <td>7307000000.0</td>
      <td>7442000000.0</td>
      <td>7457000000.0</td>
    </tr>
    <tr>
      <th>Selling General And Administration</th>
      <td>6786000000.0</td>
      <td>6151000000.0</td>
      <td>5973000000.0</td>
      <td>6201000000.0</td>
    </tr>
    <tr>
      <th>Gross Profit</th>
      <td>54855000000.0</td>
      <td>40427000000.0</td>
      <td>36413000000.0</td>
      <td>41976000000.0</td>
    </tr>
    <tr>
      <th>Cost Of Revenue</th>
      <td>64720000000.0</td>
      <td>49071000000.0</td>
      <td>45384000000.0</td>
      <td>52860000000.0</td>
    </tr>
    <tr>
      <th>Total Revenue</th>
      <td>119575000000.0</td>
      <td>89498000000.0</td>
      <td>81797000000.0</td>
      <td>94836000000.0</td>
    </tr>
    <tr>
      <th>Operating Revenue</th>
      <td>119575000000.0</td>
      <td>89498000000.0</td>
      <td>81797000000.0</td>
      <td>94836000000.0</td>
    </tr>
  </tbody>
</table>