<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>contractSymbol</th>
      <th>lastTradeDate</th>
      <th>strike</th>
      <th>lastPrice</th>
      <th>bid</th>
      <th>ask</th>
      <th>change</th>
      <th>percentChange</th>
      <th>volume</th>
      <th>openInterest</th>
      <th>impliedVolatility</th>
      <th>inTheMoney</th>
      <th>contractSize</th>
      <th>currency</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>AAPL240503P00100000</td>
      <td>2024-04-30 19:55:11+00:00</td>
      <td>100.0</td>
      <td>0.01</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>4</td>
      <td>0</td>
      <td>0.500005</td>
      <td>False</td>
      <td>REGULAR</td>
      <td>USD</td>
    </tr>
    <tr>
      <th>1</th>
      <td>AAPL240503P00105000</td>
      <td>2024-04-30 15:07:38+00:00</td>
      <td>105.0</td>
      <td>0.01</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1</td>
      <td>0</td>
      <td>0.500005</td>
      <td>False</td>
      <td>REGULAR</td>
      <td>USD</td>
    </tr>
    <tr>
      <th>2</th>
      <td>AAPL240503P00110000</td>
      <td>2024-04-30 13:54:24+00:00</td>
      <td>110.0</td>
      <td>0.01</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1</td>
      <td>0</td>
      <td>0.500005</td>
      <td>False</td>
      <td>REGULAR</td>
      <td>USD</td>
    </tr>
    <tr>
      <th>3</th>
      <td>AAPL240503P00115000</td>
      <td>2024-04-30 14:03:49+00:00</td>
      <td>115.0</td>
      <td>0.01</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>2</td>
      <td>0</td>
      <td>0.500005</td>
      <td>False</td>
      <td>REGULAR</td>
      <td>USD</td>
    </tr>
    <tr>
      <th>4</th>
      <td>AAPL240503P00120000</td>
      <td>2024-04-30 14:12:47+00:00</td>
      <td>120.0</td>
      <td>0.01</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>4</td>
      <td>0</td>
      <td>0.500005</td>
      <td>False</td>
      <td>REGULAR</td>
      <td>USD</td>
    </tr>
  </tbody>
</table>