<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>period</th>
      <th>strongBuy</th>
      <th>buy</th>
      <th>hold</th>
      <th>sell</th>
      <th>strongSell</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0m</td>
      <td>11</td>
      <td>21</td>
      <td>6</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>-1m</td>
      <td>10</td>
      <td>17</td>
      <td>12</td>
      <td>2</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>-2m</td>
      <td>10</td>
      <td>17</td>
      <td>12</td>
      <td>2</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>-3m</td>
      <td>10</td>
      <td>24</td>
      <td>7</td>
      <td>1</td>
      <td>0</td>
    </tr>
  </tbody>
</table>