<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AAPL Stock Price</title>
    <link href="https://cdn.bokeh.org/bokeh/release/bokeh-3.4.1.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.4.1.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.4.1.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.4.1.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.4.1.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.4.1.min.js"></script>
</head>
<body>
    <h1>AAPL Stock Price</h1>
    <div>
        {{ div | safe }}
    </div>
    <script>
        {{ script | safe }}
    </script>
</body>
</html>
